@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./normalize.css";
@import "./skeleton.css";

* {
  /* border: 1px solid red; */
  --scrollbar: #d6dee1;
  --scrollbar-hover: #a8bbbf;
  --selected-task: brown;
}

:root,
body {
  height: 100%;
}

@layer components {
  * {
    @apply text-moon-raker-100
  }

  .sidebar-button{
    @apply text-white border-moon-raker-900;
  }
  .sidebar-button:hover {
    @apply bg-moon-raker-900 text-white border-none;
  }
  .sidebar-button:active {
    @apply bg-moon-raker-800 text-white border-none;
  }
  .sidebar-button:focus {
    @apply border-moon-raker-900 text-white;
  }

  .button{
    @apply text-white border-none;
  }
  .button:hover {
    @apply bg-moon-raker-800 text-white border-none;
  }
  .button:active {
    @apply bg-moon-raker-700 text-white border-none;
  }

  #show-sidebar-button {
    @apply absolute top-3 left-3 w-20 h-20
    flex justify-center items-center 
    transition-opacity ease-in;
  }

  #sidebar-div {
    @apply fixed top-0 left-0 z-10 h-full 
    overflow-x-hidden  
    /* border-l-moon-raker-700 */
    flex flex-col
    transition-width
    bg-moon-raker-950;
  }

  #sidebar-bottom {
    @apply p-3 ml-3 mr-3 
    flex-none flex
    border-t border-moon-raker-700
  }

  #main-div {
    @apply p-3 h-full
    flex justify-center items-center
    transition-all
    bg-moon-raker-900;
  }

  .task-div {
    @apply w-full h-20 relative
    rounded-2xl select-none 
    border-none
    overflow-clip
    flex items-center 
    bg-moon-raker-950
    cursor-pointer;
  }
  
  .task-div-text {
    @apply h-full p-5 w-full z-10
    bg-moon-raker-950
    transition-width
    text-ellipsis overflow-clip;
  }

  .task-div-text:hover:not(.selected-task) {
    @apply bg-moon-raker-900;
  }

  .selected-task {
    @apply bg-moon-raker-800;
  }

  .task-div-delete {
    @apply absolute right-0 h-full w-1/4 
    bg-moon-raker-400
    flex items-center justify-center
   border-moon-raker-950
    rounded-r-2xl border-r
  }
}

#task-list-container {
  scrollbar-gutter: stable;
}

#task-list-container::-webkit-scrollbar-thumb {
  background-color: transparent;
  transition: background-color 1s ease-in-out;
}

#sidebar-div:hover > #task-list-container::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar);
  border-radius: 20px;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-hover);
}



textarea:focus, input:focus{
  outline: none;
}

/* Animation for adding task to sidebar  */
#task-list-container > .task-div {
  animation: show 600ms 100ms cubic-bezier(0.38, 0.97, 0.56, 0.76) forwards;
   /* Prestate */
  opacity: 0;
   /* remove transform for just a fade-in */
  transform: rotateY(-90deg);
  transform-origin: left;
}

@keyframes show {
  100% {
    opacity: 1;
    transform: none;
  }
}