@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./normalize.css";
@import "./skeleton.css";

* {
  border: 1px solid red;
  background-color: antiquewhite;
}

:root,
body {
  height: 100%;
}
